body
{
    background: url("imagenes/blue.jpg") no-repeat center center fixed;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}
#wrapper
{
    margin: auto;
    width: 1024px;
    /*position:relative;*/
    border-top-left-radius: 7;
border-top-right-radius: 7;
}
#banner{
height: 130px;
border-radius: 7px 7px 0 0;
background: white;
opacity: 0.9;
/*width: 1000px;*/
/*margin-left: 40px;*/
}
#logo{
    
    /*position: relative;*/
    float: left;
    }
#logo img{
    
    /*position: relative;*/
    /*float: left;*/
    width: 80px;
    height: 90px;
    margin-left: 40px;
    padding: 10px;
}
#logout{
    /*position: relative;*/
    float: right;
}
#logout img{
    /*position: relative;*/
    /*float: right*/;
    width: 30px;
    height: 40px;
    margin-right: 40px;
    margin-top: 30px;
    padding: 10px;
}
#encabezados {
    text-align: center;
    color: black;
    float: left;
    padding-left: 60px;
    font-size: 20px;
    font-family: Calisto MT;
    height: 110px;
    margin-bottom: 10px;
}
#sesion {
    float: right;
    margin-top: 30px;
    color: black;
}
#sesion a, #sesion a:visited{
 color:black;
 text-decoration:none;
 font-family:sans-serif;
 font-weight:bold;
 outline:none;
}
b{color: white;}


/*#contenido
   {
    width: 777px;
    margin: 0 auto;
    background: url(imagenes/cuerpo.png) repeat-y left top;
    border:0px solid;
    z-index:1;    
   }*/
#msj_bienvenida{
width: 500px;
color:black;
font-size: 25px;
height: auto;

}
#cuadro_login
{
    /*position:fixed;
    top:30%;
    right:0%;*/
    width: 100%;
    height: 170px;
    background-color: #ffffff;
    opacity:0.8;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px black;
}
#cuadro_login2
{
    /*position:fixed;
    top:34%;
    right:15%;
    width: 73%;*/
    height: 150px;
    
    margin: 200px;
    padding-top: 20px;
}

  .input_user
  {
    background-image:url(imagenes/users.png);
    background-repeat:no-repeat;
    font:12px/18px Tahoma, Arial, Helvetica, sans-serif;
    border: 2px solid #143F78;
    background-color: white;
    font-weight: bold;
    border-color: black;
    color:#000;
    padding-left:20px;
    text-align:left;
    border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    height:18px;
    width:170px;
    margin-bottom: 5px;
 }

#alertas{
width: 100%; 
cursor: pointer; position: relative; margin-top: 1px; 
display: inline;
border-bottom: 0 !important;
display: block; font-size: 1em; padding: .5em .5em .5em .7em;
padding-left: 2.2em;
position: absolute; left: .5em; top: 50%; margin-top: -8px;
padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; 
display: block;}

 .input_pass
  {
    background-image:url(imagenes/key.png);
    background-repeat:no-repeat;
    font:12px/18px Tahoma, Arial, Helvetica, sans-serif;
    border: 2px solid #143F78;
    background-color: white;
    font-weight: bold;
    border-color: black;
    color:#000;
    padding-left:20px;
    text-align:left;
    border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    height:18px;
    width:170px;
    margin-bottom: 5px;
 }
 #footer
   {
 padding-top: 15px;
    text-align: center;
    color: white;
    clear: both;
    }
#content
{
    text-align: center;
background:white;
border-radius:5px;
margin: 0;
}

#datos
{
   /* text-align: center;*/
background:white;
border-radius:5px;
padding: 10px;
width: 400px;
margin: 150px auto;
box-shadow: 0 0 10px 5px black;
}