		#accordion 
		{
		position:relative;
		top:0px;
		left:0px;
		width:auto;
		height:auto;
		list-style:none;
		float: left;
		}

		a {
			
				border: 1px solid white;
				/*float: left;*/
			} 
		img
		{
		margin: 0.0em 0.0em -0.2em 0em;
		}		

		#accordion li {
		width:170px;
		text-decoration:none;
		list-style: none;
		}
		#accordion li a {
			display: block;
			width: 170px;
			height: auto;	
			text-indent:0.3em;
			margin-top:3px;
			font-size: medium;
			outline:none;
			text-decoration:none;
			padding: 0.38em 0em 0.4em 0em;
			
		}
		
		#accordion li a.op1:hover, .op1Over {
			background: #38CDD5 url(imagenes/17.png)  no-repeat !important;
			width:176px !important;
			height:auto  !important;
			padding: 0.4em 0em 0.8em 0em !important;
	 		border-radius:10px !important;
	 		border-radius:3px !important;
    		text-decoration:none !important;

}
		

		.op1Over2 {
			width:175px; border: 1px solid; background: #0078ae url(imagenes/14.png) 50% 50% repeat-x;color: #ffffff;
		}
		
		.item{
		border-radius:4px;
		border-radius:2px;
		border:1px solid white;
		text-decoration:none;
}
		/* Second Level UL List*/
		#accordion ul  {
			margin:0;
			padding:0;
			display:none;
			background:white;
			border-radius:5px;
			border-radius:5px;
			width:170px;height:auto;
			text-decoration:none;
			}
		
			#accordion ul li {
				height:auto;
				text-decoration:none;
				
			}
			
			#accordion ul li a {
				width:auto;
				height:auto;
				margin-left:15px;
				/*padding:0.3em 0.9em 0.3em 0em;
				/*border-bottom: 2px dotted #777;*/
				text-indent:0em;
				color:black;
				text-decoration:none;


			}
	
			#accordion ul li a.last {
				border-bottom: none;
				text-decoration:none;
			}